.menu{
  display:flex;
  width:500px;  
  margin:0 auto;
  flex-wrap:wrap;
}

.menu li{  
  width:100px;
  text-align:center; 
  margin-bottom: 20px;
}
.menu li a {
  display:block;  
  text-decoration:none;
  padding-bottom:20px;
  padding-top:20px;
  color:black;
  background: brown;
}
.menu li a:hover{
  color:white;
}